/node_modules

# Ignore test-related files
/coverage.data
/coverage/

# Build files
/dist

# Generated GraphQL types
/src/types/admin.generated.d.ts
/src/types/admin.schema.json
/src/types/admin.types.d.ts
/src/types/*.json